/********************************* Custom ****************************************/

*{
    color: white;
}
html, body {
    overflow-x: hidden;
}
.background{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(85, 83, 83, 0.8)),url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
.head{
    width: 100%;
    height: 125px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
}

.logo{
    margin: 10px;
    float: left;
    cursor: pointer;
    
}
.title{
    margin-left: 200px;
    padding: 20px;
}
.nav{
    width: 100%;
    margin: 5px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;    
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.nav ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.nav ul li a:hover{
    color: cornsilk;
}
.nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav ul li a:hover::after{
    width: 100%;
}
.dropdown {
    background-color: brown;
    padding: 2px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    float: right;
    padding-left: 30px;
}
.dropbtn {
    cursor: pointer;
}
.dropdown a{
     font-size: 15px;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 3px;
}
.dropdown-content a {
    float: none;
    font-size: 12px;
    padding: 7px 8px;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: brown;
}
.dropdown:hover .dropdown-content {
    display: block; 
}
main{
    width: 100%;
    height: 520px;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 40px;
}
.content{
    width: 70%;
    height: 470px;
    margin: 10px;
    float: left;
    color: white;
}

.content .heading {
    font-size: 14pt;	
}
.form_img{
    width: 15%;
    height: 120px;
    margin: 40px 0 0 20px;
    float: left;
    padding: 5px;

}
.form_img img{
    width: 100%;
    height: 120px;
    border: 3px solid white;
    border-radius: 3px;
    padding: 3px;
}
.message{
    width: 100%;
    height: auto;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
    border: 3px solid grey;
    border-radius: 3px;
    padding: 5px;
}
.message button {
    color: yellow;
    font-size: 10pt;
    border-radius: 10px;
    background-color: brown;
    float: right;
}
.button{
    background-color: mediumpurple; 
    padding: 7px; 
    color:white; 
    border:none;
    margin:5px;
    cursor: pointer;
}
.button:hover{
    background-color: rebeccapurple;
}
.side_bar{
    width: 25%;
    height: auto;
    float: right;
    margin: 10px;
    color: white;
    border-left: 1px solid white;
}
.news{
    width:100%;
    height: 260px;
    padding-left: 10px;
    border-bottom: 1px solid white;
}
.social{
    width: 100%;
    height: 190px;
    padding: 0 20px 20px 20px;
}
.social img{
    width: 15%;
    height: 40px;
}
footer{
    height: 315px;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    color: white;
}
.footer{
    height: 250px;
    padding: 40px;
}
.footer ul li{
    padding: 10px;
}
.col_1, .col_2, .col_3{
    width: 25%;
    height: 150px;
    float: left;
}

.col_2, .col_3{
    margin-left:140px;
}
.col_3{
    padding: 15px;
}
.col_1 ul{
    float: left;
}
.rights{
    width: 100%;
    height: 60px;
    padding: 5px;
     text-align: center;
    border-top: 1px solid Black;
}
a:hover{
    color: #2471A3;
}
#marquee{
    height: 200px;
}
#feedback{
    color: black;
}
#btn{
    float: right;
    margin-right: 15px;
}

/********************************* Mobiles Range ****************************************/

@media only screen and (min-width:400px) and (max-width: 600px) {
    .banner{
    height: auto;
    }
    .nav {
        width: 98%;
        padding-left: 30px;
        height: 315px;
    }
    .nav ul li{
        float: left;
        width: 70%;
        display: block;
        margin-bottom: 10px;
        margin-left: 10%;
        padding: 5px 0 5px 0;
        text-align: center;   
    }
    .nav ul li:hover{
        background:linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)); 
        cursor: pointer;
    }
    .nav ul li a{
        font-size: 12px;
    }
    .dropdown{
        float: left;
        width: 80%;
        display: block;
        margin-bottom: 10px;
        margin-left: 10%;
        padding: 5px 0 5px 0;
        text-align: center;    
    }
    .dropdown-content {
        position: relative;
    }

    .heading{
        font-size: 16px;
        
    }
    .logo img{
        width: 100;
        height: 100;
    }
    .title{
    margin-left: 150px;
    padding: 20px;
        
    } 
    main{
        height: 2550px;
        
    }
    .content{
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding-right: 10px;
        
    }
    .form_img{
        width: 40%;
        height: 120px;
        padding: 5px;
	    margin: 0 0 0 25%;
        
    }
    
    .form_img img{
        width: 100%;
        height: 100px;

    }
    .message{
        width: 80%;
        height: auto;
        margin: 130px 0 0 50px;

    }
    .message button {
        font-size: 7pt;
        margin: 5% 0 0 0;
    }
    
    .message p {
        font-size: 9pt;
        width: 75%;
    }
    .button{
        padding: 1px;
        font-size: 10px;
        
    }
    .side_bar{
        float: left;
        width: 90%;
        margin-left: 10%;
        height: 260px;
        
    }
    .news{
        width:80%;
        height: 170px;
        padding: 5px;
        
    }
    .social{
        width: 80%;
        height: 50px;
        margin-left: 5px;
        padding: 1px;
        
    }
    .social img{
        width: 45px;
        height: 40px;
        padding: 5px;
        margin: 5px;
        
    }
    #marquee{
        height: 100px;
        
    }
    marquee p{
        font-size: 10px;
    }
    footer{
        width: 100%;
        height: 405px;
        
    }
    .footer{
        width: 100%;
        height: 340px;
        padding: 5px;
    }
    .footer h4 {
        margin-left: 20px;
    }
    .footer ul li{
        padding: 8px;
        font-size: 12px;
	width : 100px;
    }
    .col_3{
	width: 60%;
	height: 100px;
        margin-left: 70px; 
        
    }
    #feedback{
        font-size: 11px;
        
	
    }
     #btn{
        float: none;
        margin-left: 40%;
    }
    .rights{
        padding: 0;
        margin-top: 5px;
        
    }
    .para{
	text-align: center;
        font-size: 12px;
        
    }
    
    
    
   
}

/********************************* Tablets Range ****************************************/

@media only screen and (min-width:601px) and (max-width: 768px) {
    .banner{
    height: auto;
    }
    .nav{
        width: 100%;    
    }
	nav {
        width: 100%;
        padding-left: 0px;
  	}
    .nav ul li{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
        margin: 0 0 0 3%;
    }
    .nav ul li a{
        font-size: 12px;
    }
    .dropdown {
        margin: -22px 40px 0 520px;
        width: 10%;
        padding-left: 5px;
    }
    .dropdown-content {
        min-width: 80px;
    }

    .heading{
        font-size: 20px;
    }
    .logo img{
        width: 100;
        height: 100;
    }
    .title{
    margin-left: 150px;
    padding: 20px;
    } 
    main{
        height: 2550px;
    }
    .content{
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding-right: 10px;
        
    }
    .form_img{
        width: 50%;
        height: 200px;
        padding: 5px;
        margin: 0 0 0 25%;
    }
    
    .form_img img{
        width: 100%;
        height: 180px;

    }
    .message{
        width: 90%;
        height: auto;
        margin: 40% 0 0 5%;

    }
    .message button {
        font-size: 7pt;
        margin: 15px 0 0 0;
    }
    
    .message p {
        font-size: 9pt;
        width: 75%;
    }
    .button{
        padding: 2px;
        font-size: 12px;
    }
    .side_bar{
        float: left;
        width: 100%;
        height: 280px;
	    margin: 0 0 0 12%;
    }
    .news{
        width:80%;
        height: 170px;
        padding: 5px;
    }
    .social{
        width: 80%;
        height: 50px;
        margin-left: 5px;
        padding: 1px;
    }
    .social img{
        width: 60px;
        height: 50px;
        padding: 5px;
        margin: 5px;
    }
    #marquee{
        height: 100px;
    }
    marquee p{
        font-size: 15px;
    }
    footer{
        width: 100%;
        height: 405px;
    }
    .footer{
        width: 100%;
        height: 340px;
        padding: 5px;
    }
    .footer h4 {
        margin-left: 20px;
    }
    .footer ul li{
        padding: 8px;
        font-size: 12px;
	    width : 100px;
    }
    .col_3{
	   width: 30%;
	   height: 100px;
       margin-left: 25%; 
    }
    #feedback{
        font-size: 12px;
	
    }
     #btn{
        float: none;
        margin-left: 60%;
    }
    .rights{
        padding: 0;
        margin-top: 5px;
    }
    .para{
	text-align: center;
        font-size: 12px;
    }
    
    
    
   
}

/********************************* Laptops and Desktops Range ****************************************/

@media only screen and (min-width:769px) and (max-width:1024px) {
    .banner {
	height: auto;
    }
	.nav{
        width: 100%;    
    }
	nav {
        width: 100%;
        padding-left: 0px;
  	}
    .nav ul li{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
        margin: 0 0 0 4%;
    }
    .nav ul li a{
        font-size: 15px;
    }

    .dropdown {
        margin: -22px 120px 0 520px;
        width: 7%;
        padding-left: 5px;
    }
    main{
        height: 1500px;
    }
    .content{
    width: 70%;
    height: auto;
    margin: 0 0 0 10px;
    }

    .form_img{
        width: 25%;
        height: 120px;
        margin: 0 0 0 0;
        padding: 0px;
        float: none;
    }
    .form_img img{
        width: 100%;
        height: 120px;
    }
    .message{
        float:right;
        width: 70%;
        margin: -100px 20px 0 0;
    }
    .message p {
        font-size: 10pt;
        width:75%;
    }
    .message button {
        font-size: 8pt;
        margin: 20px 0 0 0;
    }
    .button{
        padding: 5px;
        font-size: 12px;
    }
    .side_bar{
        width: 27%;
        height: 500px;
        margin: 5px;
    }
    .news{
        width:100%;
        height: 260px;
        padding: 3px;;
    }
    .social{
        width: 95%;
        height: 190px;
        margin-left: 5px;
        padding: 1px;
    }
    .social img{
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    #marquee{
        height: 190px;
    }
    footer {
        width: auto;
    }
    .footer{
        height: 250px;
        padding: 10px;
    }
    .footer h4 {
        margin-top: 20px;
    }
    .footer ul li{
        padding: 10px;
        font-size: 15px;
    }
    .col_3{
        margin: 10px 0 0 10px;
    }
    #feedback{
        margin: 0 50px 0 0;
        font-size: 14px;
    }
    #btn{
        float: none;
        margin-left: 75%;
    }
    .para {
        font-size: 12px;
    }
    .menu-btn{
        display: none;
    }
}
/********************************* Laptops and Desktops Range > 1025 ****************************************/

@media only screen and (min-width:1025px) {
    .banner {
	height:auto;
    }
	.nav{
        width: 100%;    
    }
	nav {
        width: 100%;
        padding-left: 0px;
  	}
    .nav ul li{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
        margin: 0 0 0 6%;
    }
    .nav ul li a{
        font-size: 15px;
    }

    .dropdown {
        margin: -22px 120px 0 520px;
        width: 5%;
        padding-left: 5px;
    }
    main{
        height: 1420px;
    }
    .content{
    width: 70%;
    height: auto;
    margin: 5px;
    }

    .form_img img{
        margin: 0 0 0 0;
    }
    .message{
        width: 80%;
        margin: 70px 0 0 20%;
    }
    .message p {
        
        width: 83%;

    }
    .message button {
        margin-top: 15px;
    }
    .button{
        padding: 5px;
        font-size: 12px;
    }
    .side_bar{
        width: 27%;
        height: 700px;
        margin: 5px;
    }
    .news{
        width:100%;
        height: 260px;
        padding: 3px;;
    }
    .social{
        width: 95%;
        height: 190px;
        margin-left: 5px;
        padding: 1px;
    }
    .social img{
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    #marquee{
        height: 190px;
    }
    footer {
        width: auto;
    }
    .footer{
        height: 250px;
        padding: 10px;
    }
    .footer h4 {
        margin-top: 20px;
    }
    .footer ul li{
        padding: 10px;
        font-size: 15px;
    }
    .col_3{
        margin: 10px 0 0 10px;
    }
    #feedback{
        margin: 0 50px 0 0;
        font-size: 14px;
    }
    #btn{
        float: none;
        margin-left: 160px;
    }
    .para {
        font-size: 12px;
    }
    .menu-btn{
        display: none;
    }
}